/* Write your CSS here */
.list-item {
  margin: 10px;
}

.button {
  background-color: transparent;
  border: 0px;
  font-family: 'Roboto';
}

.active-language-btn {
  color: #0284c7;
  border-radius: 24px;
  border: 1px solid #0284c7;
}
